obj/
bin/
debug/
Debug/
release/
Release/
packages/
*.user
*.suo
*.log
_ReSharper.*
Build/Maps/
*.sdf
*.opensdf
*.avi
*.lastbuildstate
Dependencies/SlimDX/SlimDX.pdb
UAVProject/UAV.Client/JomagoStabilizer_Windows32.dll
UAVProject/UAV.Client/JomagoStabilizer_Windows64.dll
Build/DevBinaries/*
Build/DTEDs/*
!Build/DevBinaries/.empty
UAVProject/TestResults
worldmaps/
DTED2/
compiled/log/*
*.rdb
*.aof
*.obj
*.lst
*.lnp
*.map
*.m51
*.out
*.opt
*.plg
*.cwg
*.sbr
*.iex
*.#*
*.pyo
*.pyc